*{
margin:0;
padding: 0;
box-sizing: border-box;
color: white;
list-style: none;
text-decoration: none;
}
body{
    background-color: black;
}
img{
    width: 100%;
}
header{
    background-color:black;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 0;
}
header ul {
    display: flex;
    justify-content: space-around;
    }
header ul a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
}
h1{
    text-align: center;
    font-size: 2rem;
    margin-top:5rem;
}
h2{
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
}
.monde_virtuel:hover{
    width: 100%;  
    transition:1s;
    transform:rotate3d(1,2,1,360deg)scale(1);
    transition-duration:3s;
    }
h3{
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
}
.text p{
    background-color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: justify;
    padding:1rem; 
    margin-left:0.5rem;
    margin-right: 0.5rem;  
}
.text1 p{
    font-size: 1.5rem;
    text-align: justify;
    margin-left:1rem;
    margin-right:1rem;
} 
.description p{
    font-size: 1.5rem;
    text-align: justify;
    margin-left:1rem;
    margin-right:1rem; 
    margin-bottom:1rem;
}
.presse_incline{
    border: 5px solid #FFFFFF;
}
.fonctionnement p{
    font-size: 1.5rem;
    text-align: justify;
    margin-left:1rem;
    margin-right:1rem; 
}
.evenements p{
    margin: 20px;;
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
    color: blue;
    margin-left:1rem;
    margin-right:1rem;   
}
.adhesion p{
    font-size: 1.5rem;
    text-align: center;
    margin-left:1rem;
    margin-right:1rem;   
}
.bloc_prix{
width: 100%;
margin: 2rem 0;
display: flex; 
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.bloc_affichage_prix{
    width: 280px;
    height: 230px;
    margin: 10px;
    background-color: white;
    border-radius:2rem;
}
.bloc_affichage_prix p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    margin-left:1rem;
    margin-right:1rem;   
}
.bloc_prix .prix1{
    color:black;
    font-size:2rem;
    font-weight: bolder;
    margin-top: 3rem;
}
.bloc_prix .prix2{
    color:black;
    font-size:2rem;
    font-weight: bolder;
}
.bloc_prix .adhesion1{
    background-color: red;
    color: white;
    border-radius: 45px;
    margin-top:1rem;
}
.bloc_prix .adhesion2{
    background-color: red;
    color: white;
    border-radius: 45px;
    margin-top:0.5rem;
}
.body_achat{
    background-color: rgb(14, 204, 33);
}
.image_de_fond_achat{
    position: relative;
    margin-top: 50%;
    text-align: center;
}
.image_de_fond_achat h1{
    position:absolute;
    color:white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
}
.image_de_fond_achat h2{
    position:absolute;
    color:white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
}
#formulaire{
   width: 100%;
   display:inline-block;
   text-align: center;
}
input{
    width: 95%;
    margin: 1rem 0;
    padding: 2rem;
    border-radius:20px;
    color: black;
}
#fmessage{
    padding-bottom:9rem;
}
button{
    background-color:red;
    display: block;
    margin: auto;
    width:30%;
    height:3rem;
    border-radius:20px;
}

.container-notifications{
    position: fixed;
    height: 150px;
    bottom: 0px;
    right: 0px;
    margin: 3rem;
    font-size: 1.2rem;
}
.toast{
    padding: 1rem;
    margin: 0.7rem;
    border: 1px solid rgb(181, 181, 181);
    border-left: 3px solid beige;
    width:400px;
    border-radius: 30px;
    background-color:burlywood;
    font-size: x-large;
}
.spacer{
    margin:7rem;
}  
footer{
    background-color: black;
    position: fixed;
    height: 6rem;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 0; 
    text-align: right;
    font-style: italic;
}
footer img{
    object-fit: contain;
    height: 3rem;
    margin: auto;
}
@media screen and (min-width: 600px){
    body{
        margin:0 10rem;
    }
    .bloc_prix {
        flex-direction: row;
        justify-content: center;
    }
}

    




  
